.flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// Transform
.transformer(@scale) {
    transform: @scale;
    -webkit-transform: @scale;
    -moz-transform: @scale;
    -ms-transform: @scale;
    -o-transform: @scale;
}
// Transition
.transit(@ttr, @sec) {
    transition: @ttr, @sec;
    -webkit-transition: @ttr, @sec;
    -moz-transition: @ttr, @sec;
    -ms-transition: @ttr, @sec;
    -o-transition: @ttr, @sec;
}