body {
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
    &-hover {
        color: black;
    }
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
input {
    padding: 0;
}

//---------Grid Layout----------//
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
    box-sizing: border-box;
}
.container-fluid {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
body {
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
}
.dropdown {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
    &-btn {
        &::after {
            display: inline-block;
            content: url('../img/down-arrow.png');
            -webkit-transform: scale(0.5);
            -moz-transform: scale(0.5);
            vertical-align: middle;
            margin-left: 22px;
        }


    }
    &-content {
        display:none;
        position: absolute;
        background-color: @bg-header;
    }
}
